body {
  color: var(--semi-color-text-0);
  background-color: var(--semi-color-bg-0);
  scrollbar-width: none;
  /* 对于Firefox浏览器，隐藏滚动条 */
  overflow: hidden;
}

body::-webkit-scrollbar {
  display: none;
  /* 对于WebKit浏览器，隐藏滚动条 */
}

.none-scrollbar::-webkit-scrollbar {
  display: none;
  /* 对于WebKit浏览器，隐藏滚动条 */
}

.none-scrollbar {
  scrollbar-width: none;
  /* 对于Firefox浏览器，隐藏滚动条 */
}

.no-select{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

.minWidthAvailable {
  min-width: -webkit-fill-available;
  min-width: -moz-available;
}

.minHeightAvailable {
  min-height: -webkit-fill-available;
  min-height: -moz-available;
}